body{
    font: 20px;

}
.navbar {
    background-color:#86B404;
}

.quem-somos{
    background-color: #BDBDBD;
color: white;

}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #81F7F3;
    color: white;

}

.servicos{
    background-color: ;

}

.bg-footer{
    background-color: black;
    color: white;
}